In [1]:
def my_sum(x1,*x):
    '''
    we are creater this function in NED Class
    You can add one or more numbers'''
    
    return x1+sum(x)
my_sum(2,3,4,5,6)

20

In [3]:
my_sum??

In [9]:
codeInString = "a=8\nb=7\nsum=a+b\nprint('sum =',sum)"
codeObject = compile(codeInString , 'sumstring', 'exec') #compile(source, filename, mode)

exec(codeObject)

sum = 15

In [14]:
codeInString = """
a = 8
b = 7
c = a+b
print("A+B =", c)"""

codeObject = compile(codeInString , 'sumstring', 'exec') #compile(source, filename, mode)

exec(codeObject)

A+B = 15

In [15]:
"ABCDEFGHIJKLMNOPQRSTUVWXYZ"

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [16]:
list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [18]:
keys = [ "a","b ","c"]
values =[1,2,3]
list(zip(keys,values))

[('a', 1), ('b ', 2), ('c', 3)]

In [20]:
keys = [ "a","b ","c"]
values =[1,2,3]
{k:v for k,v in (zip(keys,values))}

{'a': 1, 'b ': 2, 'c': 3}

In [25]:
data ={ "id": list("123456789"),
      "names": list("ABCDEFGHI")}
data

{'id': ['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 'names': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']}

In [26]:
import pandas as pd
df = pd.DataFrame(data)
df

  id names
0  1     A
1  2     B
2  3     C
3  4     D
4  5     E
5  6     F
6  7     G
7  8     H
8  9     I

In [29]:
names = []
 
while True:
    name = input("Enter You names or Press X For Exit ")
    if name =="x" or name =="X" or name == "exit":
        break
    names.append(name)
names

Enter You names or Press X For Exit Moawiz
Enter You names or Press X For Exit Umer
Enter You names or Press X For Exit Ali
Enter You names or Press X For Exit Maaz
Enter You names or Press X For Exit x

['Moawiz', 'Umer', 'Ali', 'Maaz']

In [35]:
l1 =list("abc")
print(l1)

l2 = list("xyz")
print(l2)

# l1.append(l2)
# print(l1)

l1.extend(l2)
print(l1)

['a', 'b', 'c']
['x', 'y', 'z']
['a', 'b', 'c', 'x', 'y', 'z']

In [38]:
df = pd.read_excel("Book1.xlsx")
df

   id   names Courses
0   1  Moawiz  Python
1   2   haris    Data
2   3    Saad    Java
3   4    Maaz     C++

In [39]:
df["names"].apply(str.lower)

0    moawiz
1     haris
2      saad
3      maaz
Name: names, dtype: object

In [45]:
df["names"]= df["names"].apply(str.lower)
df

   id   names Courses       X
0   1  moawiz  Python  moawiz
1   2   haris    Data   haris
2   3    saad    Java    saad
3   4    maaz     C++    maaz

In [49]:
df.to_excel("name.xlsx",index=False)

In [50]:
df["Y"]= df["names"].apply(str.upper)
df

   id   names Courses       X       Y
0   1  moawiz  Python  moawiz  MOAWIZ
1   2   haris    Data   haris   HARIS
2   3    saad    Java    saad    SAAD
3   4    maaz     C++    maaz    MAAZ

# Error Handling

In [52]:
print("pakistan")
print("pakistan")
print("pakistan")
print(7/0)
print("pakistan")
print("pakistan")
print("pakistan")
print ("pakistan")

pakistan
pakistan
pakistan

ZeroDivisionError: division by zero

In [54]:
print(y)

NameError: name 'y' is not defined

In [55]:
a = [1,2,3]
a[6]

IndexError: list index out of range

In [60]:
dict1 = { "a" : 1 , "b": 3 }
dict1 ["z"]

KeyError: 'z'

In [61]:
open("abc.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

In [62]:
int(a)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [63]:
list(1234)

TypeError: 'int' object is not iterable

# Exception Handling

In [65]:
print("start-------")
try:
    print(6/0)
    
except ZeroDivisionError:
    print("You can't divide by zero")
    
print("end---")

start-------
You can't divide by zero
end---

In [66]:
print("start-------")
try:
    print(6/3)
except ZeroDivisionError:
    print("You can't divide by zero")
    
print("end---")

start-------
2.0
end---

In [70]:
print("start-------")
try:
    a = [ 2 , 3]
    print(a[7])
except IndexError:
    print("Index Not Found")
    
print("end---")

start-------
Index Not Found
end---

In [71]:
print("start-------")
try:
    a = [ 2 , 3]
    print(a[0])
except IndexError:
    print("Index Not Found")
    
print("end---")

start-------
2
end---

In [72]:
print("start-------")
try:
    open("abc.txt")
except FileNotFoundError:
    print("This file is not available")
    
print("end---")

start-------
This file is not available
end---

In [74]:
print("start-------")
try:
    open("abc.txt")
    a = [ 2 , 3]
    print(a[0])
    print(6/3)
except (FileNotFoundError,IndexError,ZeroDivisionError):#if error occur in first line it can only read first line and excecute the program
    print("This file is not available")
    
print("end---")

start-------
This file is not available
end---

In [75]:
print("start-------")
try:
    print(6/0)
    
except ZeroDivisionError:
    print("You can't divide by zero")
    

try:
    a = [ 2 , 3]
    print(a[7])
except IndexError:
    print("Index Not Found")
    
try:
    open("abc.txt")
except FileNotFoundError:
    print("This file is not available")
print("end---")

start-------
You can't divide by zero
Index Not Found
This file is not available
end---

In [80]:
print("start-------")
try:
#     open("abc.txt")
#     a = [ 2 , 3]
#     print(a[7])
    print(6/0)
except Exception as e:
    print("sorry",e)
    
print("end---")

start-------
sorry division by zero
end---

In [81]:
print("start-------")
try:
    open("abc.txt")
except FileNotFoundError:
    print("This file is not available")
    
finally:
    print("ya har hal main chala ga")
    
print("end---")

start-------
This file is not available
ya har hal main chala ga
end---

In [82]:
import sys
sys.platform

'win32'

# Raise Error

In [92]:
class Student():
    def __init__(self,name,age):
        if(age<18 or age>60):
            raise Exception("Age cannot less than 18 or greater than 60")
        self.name = name
        self.age  =  age
        
st = Student("Asif ", 33)
print(st.name)
print(st.age)

Asif
33

# Date Time

In [99]:
import datetime as dt
x=dt.datetime.now()
print(x)
print(x.year)
print(x.month)
print(x.day)
print(x.hour)
print(x.minute)

2022-09-16 03:06:17.224244
2022
9
16
3
6

In [102]:
x.strftime("%y") #print string format into number

'22'

In [103]:
x.strftime("%Y")

'2022'

In [104]:
x.strftime("%m")

'09'

In [105]:
x.strftime("%M")

'06'

In [106]:
x.strftime("%b")

'Sep'

In [107]:
x.strftime("%B")

'September'

In [108]:
x.strftime("%a")

'Fri'

In [109]:
x.strftime("%A")

'Friday'

In [110]:
x.strftime("%d")

'16'

In [111]:
x.strftime("%D")

'09/16/22'

In [123]:
x.strftime("%d  %A ,  %Y  : %m  %p" )

'16  Friday ,  2022  : 09  AM'